@import '../activityBoard.css';

.main-page {
  display: grid;
  padding-inline: 1.5rem;
  /* padding-top: 2%; */

  block-size: 89vh;
}

@media(orientation: portrait) {
  .main-page {
    block-size: 82vh;
  }
}