.operations-page {
  display: grid;
  grid-template-columns: 3fr 7fr;
  gap: 2rem;
  grid-template-areas: 'side main';

  padding-top: 1.5rem;
  padding-inline: 1.5rem;

  block-size: 89vh;
}

.operations-page > .main {
  grid-area: main;
}
.operations-page > .side {
  grid-area: side;
}

.side-container {
  display: grid;
  height: 100%;
  gap: 1rem;
}


.icon-in-list {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

@media (orientation: portrait) { 
  .operations-page {
    block-size: auto;

    grid-template-columns: 1fr;
    gap: 3rem;

    padding-inline: .5rem; 
    padding-block-end: 1.5rem;
    grid-template-areas: 'main' 'side';
  }
  .operations__table-header__file-options {
    left: 45%;
  }
}

/* @media (max-width: 37.5rem) {
  .operations-page { }
} */
