.income-outcome-switch {
  display: flex;
  border-radius: 8px 8px 0 0;
  background: transparent;
  margin-inline-end: 2.5rem;
}

.income-outcome-switch__tab {
  flex: 1;
  padding: .25em .7em;
  min-width: 5em;
  margin-top: .5em;
  border: none;
  border-radius: 8px 8px 0 0;
  font-size: .95em;

  outline: none;
  cursor: pointer;

  transition: all 0.5s ease-in-out;

  box-shadow: -3px -1px 1px 1px #93bbca;
  margin-bottom: -.6rem;
}

.income-outcome-switch__tab:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px 8px 0 0;
}

.income-outcome-switch__tab.active {
  margin-top: .1em;
  background-color: #93bbca;
}
