.dialog {
  /* display: grid; */
  max-width: 45rem;
  /* min-width: 23rem; */
  background: #ffffff00;
  backdrop-filter: blur(10px);
  box-shadow: 0 0 1rem rgba(21, 21, 21, 0.377);
  color: #222;
  border: none;
  border-radius: 0.5rem;
  position: relative;
  margin: 0 auto;
  padding-block-end: 1rem;
  overflow: hidden;
}
.dialog input {
  background: rgba(255, 255, 255, 0.503);
}
.dialog button {
  background: rgba(255, 255, 255, 0.503);
  border-radius: 1rem;
  padding: .5em .7em
}
.modal-body .form .css-b62m3t-container .css-13cymwt-control { 
  /* It's a style of ReactSelect component */
  background: rgba(255, 255, 255, 0.503);
  border-radius: .375rem;
}
.modal-body .button-container {
  padding: 0;
  padding-block-start: .5rem;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
.button-container .cancel-btn:hover {
  background-color: #c2cbd1;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  padding: .7rem 1.3rem 0 1.1rem;
}
.modal-body {
  padding: .5rem 3rem 1.5rem 3rem;
}

.modal-header .close-button.close-button {
  background-color: #22222200;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-325%);
  }
  100% {
    transform: translateY(15%);
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.dialog::backdrop {
  background: #e1aafd / .5;
  opacity: 0;
}
.dialog[open] {
  animation: 
    slide-down 700ms forwards,
    fade-in 700ms forwards;
}
.dialog[closing] {
  display: block;
  pointer-events: none;
  inset: 0;
  animation: 
    slide-up 700ms forwards,
    fade-out 700ms forwards;
}
.dialog[open]::backdrop {
  animation: fade-in 700ms forwards;
}
.dialog[closing]::backdrop {
  animation: fade-out 700ms forwards;
}
