nav {
  width: 100%;
}

.navbar {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  padding-inline: 1.5rem;

  grid-auto-flow: column;
}

.navlist--bottom {
  display: none;

  position: fixed;
  bottom: 0;
  z-index: 999;
}

.nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  list-style: none;

  width: 100%;
}

.user-panel {
  display: flex;
}

@media (orientation: portrait) {
  .navbar {
    position: sticky;
  }

  .navlist--top {
    display: none;
  }
  .navlist--bottom {
    display: flex;
    justify-content: space-around;
  }
  .user-panel {
    min-width: 100%;
    justify-content: space-between;
  }
}
