@import './app/styles/table.css';
@import './app/styles/modal.css';
@import './app/styles/common.css';
@import './app/styles/input.css';
/* --mainColor #93bbca */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: url(./assets/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}
body::-webkit-scrollbar {
  width: .6rem;
  height: .6rem;
}
body::-webkit-scrollbar-thumb{
  border-radius: .4rem;
  background-color: #0003;
}